@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Titillium+Web&display=swap");

/* 
font-family: 'Titillium Web', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Open Sans', sans-serif;
*/

/* removes the default margin and padding for every item so that everything can styled without having to fight document defaults. */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/background.png");
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0% 0% 5% 5%;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h2 {
  padding: 2.5% 0%;
}

.question {
  padding: 1% 0%;
}

label {
  font-family: "Open Sans", sans-serif;
}
input[type="text"]:not(.name-input),
input[type="email"],
select {
  width: 90%;
  display: block;
}
.name-input {
  display: block;
}

#names-wrapper,
#education-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#demographic-info,
#education-info,
#work-experience,
#contact {
  padding: 0% 5%;
}

#contact {
  padding-bottom: 5%;
}

button {
  background: none;
  border: 0;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  margin: auto;
  margin-bottom: 2%;
}
