@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/background.png");
}

#thanks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#thanks {
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0% 0% 5% 5%;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 2.5% 0%;
}
